spring:
  servlet:
    # 设置上传文件大小
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  # 如果没有aliyun oss 打开这个配置
  #  autoconfigure:
  #    exclude: cn.javaer.aliyun.spring.boot.autoconfigure.oss.OssAutoConfiguration
  boot:
    admin:
      client:
        url: http://114.55.104.203:9090

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database: MYSQL
    show-sql: true
    hibernate:
      ddl-auto: none # 关闭每次启动自动删除表数据
    properties:
      hibernate.id.new_generator_mappings: true
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: true
      # 运行程序会校验数据与数据库的字段类型是否相同，不同会报错。
      hibernate.hbm2ddl.auto: validate

  datasource: # Druid连接池的配置信息
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://rm-wz95iq4b1998037si9o.mysql.rds.aliyuncs.com:3306/youyd?characterEncoding=utf-8&useSSL=false
    type: com.alibaba.druid.pool.DruidDataSource
    username: root
    password: '{cipher}AQBfIiYJNQWh4o0twS1iLAP/1nwv5E8Mrv+7K/l+UsRmKtJxUtJtplc7H70+xs+oDzqN+BBnYvi5oV7MMarFAMApWw02NtZ+BodIQLxbXpOerYa6kZOgHjqFkCy+F/bRT28IjwnQs1Z3iPlHk1vRnf3HeQJd7ajfq5B0lZRtSwmndHwwThTj37iIALoEpHfkze1tAjLgWzFO8Uk6s8c4UcfYvGAZG4V8V391Sr6yMCfn6t0hm+4YAjaSPG5JlR/ut3kjbHuRwUsaNWIQhDmo+2+hEWquA+zbhSHUk/cAlxb3t/lZ76YhpBzTCc57Xbh+LcSghHzCECDLu3FmMKI3MMVbs9wFOMAZY7SjoB3tA46bvG3jpIN+F0SyE6R+oF8bcn8='
    initialSize: 10 # 池启动时创建的连接数量
    maxWait: 60000 # 配置获取连接等待超时的时间
    minIdle: 5 # 在不新建连接的条件下，池中保持空闲的最少连接数
    maxActive: 10 # 同一时间可以从池分配的最多连接数量。设置为0时表示无限制。
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000 # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
    validationQuery: SELECT 1 FROM DUAL # 用来检测连接是否有效的sql，要求是一个查询语句，常用select 'x'。如果validationQuery为null，testOnBorrow、testOnReturn、testWhileIdle都不会起作用
    filters: stat,wall # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    poolPreparedStatements: true # 打开PSCache，并且指定每个连接上PSCache的大小
    maxPoolPreparedStatementPerConnectionSize: 20 # 要启用PSCache，必须配置大于0，当大于0时，poolPreparedStatements自动触发修改为true。
    testOnBorrow: false # 取得连接时是否进行有效性验证（即是否还和数据库连通的）
    testWhileIdle: true # 连接空闲时是否进行有效性验证（即是否还和数据库连通的）
    minEvictableIdleTimeMillis: 300000 # 配置一个连接在池中最小生存的时间，单位是毫秒
    timeBetweenEvictionRunsMillis: 60000 # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
    testOnReturn: false # 返回连接时是否进行有效性验证（即是否还和数据库连通的）

    # 访问：http://localhost:port/domain/druid/login.html 进行登录访问。
    #   rabbitmq:
    #     host: 39.108.191.56
    #     username: admin
    #     password: admin
    #     port: 5672

  redis:
    host: 139.180.196.135
    port: 6379
    timeout: 90000
    password: root

eureka:
  client: #客户端注册进eureka服务列表内
    service-url:
      #defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/,http://eureka7003.com:7003/eureka/
      defaultZone:  http://114.55.104.203:5000/eureka  #单机版
  instance:
    # 为注册的这个服务起个别名
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
    prefer-ip-address: true     #使用ip进行注册
    # 注册中心跳转到swagger接口
    status-page-url-path:  /swagger-ui.html
    # #绑定客户端的ip而不是主机号
    hostname: ${spring.cloud.client.ip-address}   # ${spring.cloud.client.ip-address} 参考https://blog.csdn.net/xichenguan/article/details/76632033

# 暂无可用图床，自行对接图床
# 阿里云OSS对象存储，如果没有aliyun oss 注释这个配置
#aliyun:
#  oss:
#    # 确认endpoint里面的请求地址跟bucket是否都一致。 https://mvp.aliyun.com/zhidao/9180
#    endpoint: oss-cn-shanghai.aliyuncs.com
#    access-key-id: LTAI4FtKWuk1cgWvoDCHEsBU
#    access-key-secret: '{cipher}AQBbnNR9GCJC/tsfGM1rArfhlFw1aBfksX0oYz4DIFfvGsaOL3N/Z/HM08vqRkZ+6yN+wC0apDeGv8ggEQVLEJXFEb19oP2CbMPcnYa6b8SC34T2MhqpBawZd8F/PLa3lOTT/iTvWRXOEBx84czA+hBduvXMMlx9878yPy6icFtEG/hHHc3wQronUKxPHAod0sUHyxqXJw2bWqR5OM58UrZkhv4RKo3hFnL7av/CUUglY5U6pPOegAp3NLDYBS5BENnAIcsk94ZfJMUbgxxsrWQnihniXPelXRvYtnJ630N5sZWQzk2A/RRBYZOj+t1wgwwsy69ZqhOvSP0mVZHSvOroSGUN3V+fHYPsdAr/OyjbHE3eIKSxb++xdhOYlry4WXAKa8KqizCqztlLrGiHaRz/'

# note: 开放所有端点后会导致你加密数据直接变成明文形式展示
# 监控平台：include: "*"表示 暴露所有端点，info, health... 等等
# management:
#  endpoints:
#    web:
#      exposure:
#        # * 在YAML中有特殊的含义，所以如果你想包含（或排除）所有的端点，一定要加引号，如下例所示：
#        include: "*"


### Hystrix 配置，解决Spring Cloud第一次调用失败
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            # 熔断器超时时间，默认：1秒
            timeoutInMilliseconds: 10000
ribbon:
  ReadTimeout: 60000
  ConnectTimeout: 60000
# 使用HTTP了client rpc调用
feign:
  hystrix:
    enabled: true

# feign请求打印日志
logging:
  level:
    com.ibole.api: debug
